#score, .message, #record {
	font-size:40px;
	position:absolute;
	text-align: center;
	width:480px;
	margin:0 auto;
}

#score { top:100px; }

.message { top:240px; }

#record { top:300px; }

#gameover { color: #F5690C; font-weight:bolder;}

#start, #demo { color: #398F28; }
